.chat-room-container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.chat-room-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: fit-content;
	padding: 1.35rem 1rem;

	background-color: #c9c9c9;
}
.chat-room-title {
	margin: 0;

	box-sizing: border-box;
	color: gray;
	font-weight: lighter;
	font-size: 3rem;
	text-align: center;
}
.chat-room-member-details {
	display: flex;
	align-items: center;
}
.chat-room-member-icon {
	height: 2rem;
	width: 2rem;
	color: dimgray;
	font-size: 2rem;
}
.chat-room-member-count {
	margin: 0;
	color: dimgray;
	font-weight: lighter;
	font-size: 1.3rem;
}

.chat-room-message-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	padding: 0.5rem;

	box-sizing: border-box;
	overflow-y: scroll;
}

.chat-room-action-bar-container {
	height: 5rem;
	min-height: 5rem;
	width: 100%;
	padding: 0.5rem;

	box-sizing: border-box;
	background-color: white;
}
.chat-room-action-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;

	box-sizing: border-box;
	background-color: white;
}
.chat-room-message-input {
	flex: 1;

	height: 100%;
	padding: 0.5rem 0.75rem;
	margin: 0;
	box-sizing: border-box;

	border: 0.1rem solid lightgray;
	border-radius: 0.25rem;
	color: gray;
	font-size: 1rem;
	font-weight: lighter;
}
.chat-room-send-button {
	height: 100%;
	width: fit-content;
	padding: 1rem 2rem;
	margin-left: 0.5rem;

	background-color: #3f51b5;
	border-radius: 0.25rem;
	border: none;
	color: white;
	font-weight: lighter;
}
