<div class="chat-room-container">
	<div class="chat-room-header">
		<h1 class="chat-room-title">{{ chatRoomId }}</h1>
		<div class="chat-room-member-details">
			<mat-icon class="chat-room-member-icon">person</mat-icon>
			<p class="chat-room-member-count">{{ memberCount }}</p>
		</div>
	</div>

	<div class="chat-room-message-container">
		<message
			*ngFor="let message of messages"
			[message]="message"
			[showProfilePic]="message.showProfilePic"
		>
		</message>
	</div>

	<div class="chat-room-action-bar-container">
		<div class="chat-room-action-bar">
			<input
				matInput
				class="chat-room-message-input"
				placeholder="Type a message..."
				[(ngModel)]="messageToSend"
			/>
			<button
				type="button"
				class="chat-room-send-button"
				[matTooltip]="'Send'"
				(click)="sendMessage()"
			>
				<mat-icon>
					send
				</mat-icon>
			</button>
		</div>
	</div>
</div>
