<div class="chat-room-container">

	<!-- Chatroom Header -->
	<div  class="chat-room-header">
		<div class="chat-room-header-details">
			<mat-icon
				class="chat-room-back-icon"
				(click)="navigateBack()"
			>
				arrow_back
			</mat-icon>
			<h1 class="chat-room-title">
				{{ chatRoomId }}
			</h1>
			<div class="chat-room-member-details">
				<mat-icon class="chat-room-member-icon">
					person
				</mat-icon>
				<p class="chat-room-member-count">
					{{ memberCount }}
				</p>
			</div>
		</div>

		<mat-progress-bar
			mode="indeterminate"
			[style.visibility]="loader.isLoading() ? 'visible' : 'hidden'"
		></mat-progress-bar>
	</div>

	<!-- List of messages -->
	<div
		class="chat-room-message-container"
		scroll-monitor
		(onScrollThresholdReached)="scrollThresholdReached()"
	>
		<div
			class="chat-room-message-group"
			*ngFor="let group of messageManager.groups"
		>
			<message
				*ngFor="let message of group.messages"
				[message]="message"
			>
			</message>
		</div>
	</div>

	<!-- Message input tray -->
	<div class="chat-room-action-bar-container">
		<div class="chat-room-action-bar">
			<input
				matInput
				class="chat-room-message-input"
				placeholder="Type a message..."
				(keydown)="keyHandler.handleKeyPress($event)"
				[(ngModel)]="messageToSend"
			/>
			<button
				type="button"
				class="chat-room-send-button"
				[matTooltip]="'Send'"
				(click)="sendMessage()"
			>
				<mat-icon>
					send
				</mat-icon>
			</button>
		</div>
	</div>
</div>
