<div class="chat-room-container">
	<div class="chat-room-message-container">
		<div
			class="chat-room-message"
			*ngFor="let message of messages"
		>
			<img
				class="chat-room-message-user-icon"
				[src]="message.authorAvatarUri"
				alt="{{ message.authorAvatarUri }}"
			>
			<div class="chat-room-message-details">
				<p class="chat-room-message-sender"> {{ message.authorName }} </p>
				<p class="chat-room-message-content"> {{ message.content }}</p>
			</div>
		</div>
	</div>
	<div class="chat-room-action-bar-container">
		<div class="chat-room-action-bar">
			<input
				matInput
				class="chat-room-message-input"
				placeholder="Type a message..."
				[(ngModel)]="currentMessage"
			/>
			<button
				class="chat-room-send-button"
				(click)="sendMessage()"
			>
				Send
			</button>
		</div>
	</div>
</div>
