.toast-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	color: #363636;
}

.toast-title {
	font-weight: normal;
	font-size: 1.1rem;
	font-style: oblique;
}
.toast-content {
	font-size: 1rem;
}
