<div class="login-background">
	<div class="login-input-container">
		<h1 class="login-title">chatter</h1>

		<p class="login-label">Username</p>
		<mat-form-field appearance="outline">
			<input
				matInput
				placeholder="Username"
				[disabled]="loader.isLoading()"
				[(ngModel)]="username"
			/>
		</mat-form-field>

		<p class="login-label">Password</p>
		<mat-form-field
			appearance="outline"
		>
			<input
				matInput
				placeholder="Password"
				spellcheck="false"
				[type]="isPasswordShown ? 'text' : 'password'"
				[disabled]="loader.isLoading()"
				[(ngModel)]="password"
			/>
			<button
				mat-icon-button
				matSuffix
				(click)="isPasswordShown = !isPasswordShown"
			>
				<mat-icon>
					{{ isPasswordShown ? 'visibility_off' : 'visibility' }}
				</mat-icon>
			</button>
		</mat-form-field>

		<button
			mat-raised-button
			color="accent"
			class="login-button"
			[disabled]="loader.isLoading()"
			(click)="login()"
		>
			Login
		</button>

		<span class="login-sign-up-prompt">
			<p class="login-sign-up-text">
				new to chatter?
			</p>
			<a
				class="login-sign-up-link"
				routerLink="/register"
			>
				sign up
			</a>
		</span>
	</div>
</div>
