.login-background {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	background-color: #3f51b5;
}

.login-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
	width: 25rem;
	padding: 3rem;

	border-radius: 0.75rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
	.login-input-container {
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: 1rem 2rem;
	}
}

.login-title {
	padding: 2rem;
	margin-bottom: 3rem;

	text-align: center;
	font-size: 3.5rem;
	font-weight: lighter;
	color: gray;
}

.login-label {
	width: 100%;
	margin: 0;

	text-align: left;
	font-size: 1.1rem;
	font-weight: lighter;
	color: gray;
}

mat-form-field {
	width: 100%;
}
mat-form-field.mat-form-field {
	font-size: 1rem;
}

.login-button {
	width: 100%;
	padding: 0.75rem;
	margin-top: 3rem;
	margin-bottom: 0.75rem;

	font-size: 1.3rem;
}

.login-sign-up-prompt {
	display: inline-flex;
	justify-content: flex-end;
	width: 100%;

	font-size: 1rem;
	font-weight: lighter;
	color: gray;
}
.login-sign-up-text {
	padding: 0;
	margin: 0 0.5rem 0 0;
	width: fit-content;
}
.login-sign-up-link {
	font-weight: bolder;
	color: blue;
}
