.navbar-container {
	display: flex;
	align-items: center;
	height: 4.5rem;
	width: 100%;
	padding: 0 1rem;
	box-sizing: border-box;

	background-color: #3f51b5;
}
.navbar-sidenav-icon {
	height: 2rem;
	width: 2rem;

	font-size: 2rem;
	color: white;
}
