<div class="navbar-container">

	<!-- Sidenav trigger -->
	<mat-icon
		class="navbar-sidenav-icon"
		*ngIf="sidenavService.canBeToggled"
		(click)="sidenavService.toggle()"
	>
		menu
	</mat-icon>

	<div
		class="navbar-profile-container"
		[matMenuTriggerFor]="menu"
	>
		<img
			class="navbar-user-icon"
			alt="{{ userService.user.avatarUri }}"
			[src]="userService.user.avatarUri"
		>
		<p class="navbar-username">
			{{ userService.user.username }}
		</p>
		<mat-icon class="navbar-dropdown-button">
			expand_more
		</mat-icon>
	</div>

	<mat-menu
		#menu="matMenu"
		xPosition="before"
		yPosition="below"
	>
		<button
			mat-menu-item
		>
			<mat-icon>logout</mat-icon>
			logout
		</button>
	</mat-menu>
</div>
