<div class="navbar-container">

	<!-- Sidenav trigger -->
	<div class="navbar-sidenav-icon-container">
		<mat-icon
			class="navbar-sidenav-icon"
			*ngIf="sidenavService.canBeToggled"
			(click)="sidenavService.toggle()"
		>
			menu
		</mat-icon>
	</div>

	<div class="navbar-search-container">
		<div class="navbar-input-container">
			<input
				matInput
				placeholder="search for new chatrooms"
				[(ngModel)]="query"
			/>
			<mat-icon>
				search
			</mat-icon>
		</div>
	</div>

	<!-- Profile dropdown button -->
	<div
		class="navbar-profile-container"
		[matMenuTriggerFor]="menu"
	>
		<img
			class="navbar-user-icon"
			alt="{{ userService.user.avatarUri }}"
			[src]="userService.user.avatarUri"
		>
		<p
			class="navbar-username"
			*ngIf="!sidenavService.canBeToggled"
		>
			{{ userService.user.username }}
		</p>
		<mat-icon class="navbar-dropdown-button">
			expand_more
		</mat-icon>
	</div>

	<!-- Dropdown menu-->
	<mat-menu
		#menu="matMenu"
		xPosition="before"
		yPosition="below"
	>
		<button
			mat-menu-item
			(click)="logout()"
		>
			<mat-icon>logout</mat-icon>
			logout
		</button>
	</mat-menu>
</div>
