<div class="navbar-container">

	<!-- Sidenav trigger -->
	<div class="navbar-sidenav-icon-container">
		<button
			mat-icon-button
			class="navbar-sidenav-button"
			(click)="sidenavService.toggle()"
		>
			<mat-icon
				class="navbar-sidenav-icon"
			>
				menu
			</mat-icon>
		</button>
	</div>

	<div class="navbar-search-container">
		<div class="navbar-input-container">
			<input
				matInput
				placeholder="search for new chatrooms"
				(keydown)="keyPressHandler.handleKeyPress($event)"
				[(ngModel)]="query"
			/>
			<mat-icon
				class="navbar-search-icon"
				(click)="search()"
			>
				search
			</mat-icon>
		</div>
	</div>

	<!-- Profile dropdown button -->
	<div
		class="navbar-profile-container"
		[matMenuTriggerFor]="menu"
	>
		<img
			class="navbar-user-icon"
			alt="{{ userService.user.avatarUri }}"
			[src]="userService.user.avatarUri"
		>
		<p
			fxShow.xs="false"
			class="navbar-username"
		>
			{{ userService.user.username }}
		</p>
		<mat-icon class="navbar-dropdown-button">
			expand_more
		</mat-icon>
	</div>

	<!-- Dropdown menu-->
	<mat-menu
		#menu="matMenu"
		xPosition="before"
		yPosition="below"
	>
		<button
			mat-menu-item
			(click)="logout()"
		>
			<mat-icon>
				logout
			</mat-icon>
			<span class="navbar-dropdown-item">
				logout
			</span>
		</button>
	</mat-menu>
</div>
