<div class="chatroom-list-container">
	<div class="chatroom-list-header">
		<h1 class="chatroom-list-title">chatrooms</h1>

		<!-- Chatroom Search Bar -->
		<mat-form-field
			appearance="outline"
			class="chatroom-list-search"
			style="margin-bottom: -0.75rem"
		>
			<input
				matInput
				placeholder="search your chatrooms.."
				(keyup)="onFilter()"
				[(ngModel)]="query"
			/>
			<button
				mat-icon-button
				matSuffix
				(click)="removeFilter()"
			>
				<mat-icon>
					clear
				</mat-icon>
			</button>
		</mat-form-field>
	</div>

	<!-- Chatrooms List -->
	<div class="chatroom-list-chatrooms">
		<div
			*ngFor="let chatRoom of filteredChatRooms"
		>
			<chatroom-button
				[chatRoom]="chatRoom"
			>
			</chatroom-button>
		</div>
	</div>
</div>
