.chatroom-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 300px;
	padding: 10px;

	box-sizing: border-box;
	overflow: auto;
}
.chatroom-list-title {
	margin: 0;
	padding: 15px;

	box-sizing: border-box;
	color: gray;
	font-weight: lighter;
	font-size: 45px;
	text-align: center;
}
.chatroom-list-search {
	margin-bottom: 15px;
}
