<div class="chatroom-list-container">
	<!-- Chatroom Search Bar -->
	<mat-form-field
		appearance="outline"
		class="chatroom-list-search"
	>
		<input
			matInput
			placeholder="search your chatrooms.."
		/>
		<button
			mat-icon-button
			matSuffix
		>
			<mat-icon>
				search
			</mat-icon>
		</button>
	</mat-form-field>

	<!-- Chatrooms List -->
	<div
		class="chatroom-list-chatroom-button-container"
		*ngFor="let chatRoom of chatRooms"
	>
		<chatroom-button
			[chatRoom]="chatRoom"
		>
		</chatroom-button>
	</div>
</div>
