.chatroom-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 300px;
	padding: 10px;

	box-sizing: border-box;
	overflow: auto;
}

.chatroom-list-search {
	margin-bottom: 20px;
}
.chatroom-list-search .mat-form-field-wrapper{
	padding-bottom: 0;
}
