.chatroom-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 300px;

	box-sizing: border-box;
	overflow: auto;
}

.chatroom-list-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 10px 0 10px;
}
.chatroom-list-title {
	margin: 0;
	padding: 15px;

	box-sizing: border-box;
	color: gray;
	font-weight: lighter;
	font-size: 45px;
	text-align: center;
}
.chatroom-list-search {
	margin-bottom: 15px;
}
.chatroom-list-chatroom-button-container {
	padding-right: 18px;
	overflow: auto;
}
