<h1
	*ngIf="hasLoaded == false"
>
	Loading...
</h1>

<div
	class="home"
	*ngIf="hasLoaded == true"
>
	<navbar></navbar>

	<!-- Home page body -->
	<mat-sidenav-container
		class="home-body"
		(backdropClick)="sidenavService.close()"
	>
		<!-- Sidenav content -->
		<mat-sidenav
			class="home-chatroom-list-container"
			[mode]="sidenavService.mode"
			[opened]="sidenavService.isOpen"
		>
			<chatroom-list></chatroom-list>
		</mat-sidenav>

		<!-- Main content -->
		<mat-sidenav-content
			class="home-content-container"
		>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
