.home-nav-bar {
	display: flex;
	height: 7%;
	width: 100%;
	background-color: #3f51b5;
}

.home-body {
	display: flex;
	flex-direction: row;
	height: 93%;
	width: 100%;
}
.home-chatroom-list-container {
	height: 100%;
	width: fit-content;
}
.home-content-container {
	height: 100%;
	flex-grow: 1;
	background-color: lightgray;
}
