<div class="home">
	<div class="home-nav-bar">
		<mat-icon
			class="home-menu"
			*ngIf="sidenavService.canBeToggled"
			(click)="sidenavService.toggle()"
		>
			menu
		</mat-icon>
	</div>

	<h1
		*ngIf="hasLoaded == false"
	>
		Loading...
	</h1>

	<mat-sidenav-container
		class="home-body"
		*ngIf="hasLoaded == true"
		(backdropClick)="sidenavService.close()"
	>
		<mat-sidenav
			class="home-chatroom-list-container"
			[mode]="sidenavService.mode"
			[disableClose]="!sidenavService.canBeToggled"
			[opened]="sidenavService.isOpen"
		>
			<chatroom-list></chatroom-list>
		</mat-sidenav>
		<mat-sidenav-content
			class="home-content-container"
		>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
