.register-background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	box-sizing: border-box;
	background-color: #3f51b5;
}

@media only screen and (max-width: 600px) {
	.register-background {
		justify-content: normal;
		align-items: normal;
	}
}

.register-step-container {
	height: 45rem;
	width: 35rem;
	padding: 2rem;
	box-sizing: border-box;

	border-radius: 0.75rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
	.register-step-container  {
		height: 100%;
		width: 100%;
		padding: 0.75rem;

		border-radius: 0;
		box-shadow: none;
	}
}

.register-step-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 35rem;
}

.register-title,
.register-subtitle {
	padding: 1.5rem;

	text-align: center;
	font-size: 3.5rem;
	font-weight: lighter;
	color: gray;
}
.register-subtitle {
	padding: 1rem;
	margin: 0;

	font-size: 2.5rem;
}

.register-label {
	width: 100%;
	margin: 0;

	text-align: left;
	font-size: 1.1rem;
	font-weight: lighter;
	color: gray;
}

mat-form-field {
	width: 100%;
	margin-bottom: 0.25rem;
}

mat-form-field.mat-form-field {
	font-size: 1rem;
}

.register-stepper-control-tray {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	margin-top: 1rem;
}
.register-stepper-control {
	margin: 0 0.5rem;
}

.register-avatar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0;
}
.register-avatar-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.register-avatar,
.register-avatar-clicked {
	height: 6rem;
	width: 6rem;
	padding: 0.5rem;
	margin: 0;
	box-sizing: border-box;
}
.register-avatar-clicked {
	border: 0.3rem solid #ff4081;
	border-radius: 1rem;
}

.register-summary {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.register-avatar-big {
	height: 12.5rem;
	width: 12.5rem;
	margin: 0;
}
.register-username {
	margin: 0.75rem;

	text-align: center;
	font-size: 1.5rem;
	font-weight: lighter;
	color: gray;
}
.register-submit-button {
	width: 9.5rem;
	padding: 0.75rem;

	font-size: 1rem;
}
