.register-background {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #3f51b5;
}

.register-step-container {
	height: 672px;
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;

	border-radius: 15px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) ;

	background-color: #ffffff;
}

.login-title {
	padding: 30px;
	margin-bottom: 25px;

	text-align: center;
	font-size: 65px;
	font-weight: lighter;
	color: gray;
}
.login-subtitle {
	padding: 30px;
	margin-bottom: 25px;

	text-align: center;
	font-size: 40px;
	font-weight: lighter;
	color: gray;
}

.login-label {
	width: 100%;
	margin: 0;

	text-align: left;
	font-size: 18px;
	font-weight: lighter;
	color: gray;
}

mat-form-field {
	width: 100%;
	margin-bottom: 10px;
}
mat-form-field.mat-form-field {
	font-size: 18px;
}

.register-stepper-control-tray {
	display: inline-flex;
	width: 100%;
	height: fit-content;
	margin-top: 55px;
	align-items: center;
	justify-content: center;
}
.register-stepper-control {
	margin-left: 5px;
	margin-right: 5px;
}

.register-avatar-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
}
.register-avatar-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.register-avatar, .register-avatar-clicked {
	box-sizing: border-box;
	height: 110px;
	width: 110px;
	padding: 5px;
	margin: 0;
}
.register-avatar-clicked {
	border: 3px solid #ff4081;
	border-radius: 15px;
}
