<div class="register-background">
	<div class="register-step-container">
		<mat-stepper [linear]="true">

			<!-- STEP 1: Account Details-->
			<mat-step
				label="Account"
				[stepControl]="accountDetailsFormGroup"
			>
				<div class="register-step-content-container">
					<h1 class="login-title">register</h1>

					<!-- Username input group -->
					<p class="login-label">Username</p>
					<mat-form-field appearance="outline">
						<input
							matInput
							placeholder="Username"
							[formControl]="usernameFormControl"
						/>
						<mat-error
							*ngIf="usernameFormControl.errors?.['required']"
						>
							Username is required
						</mat-error>
						<mat-error
							*ngIf="usernameFormControl.errors?.['minlength']"
						>
							Username must at least have 5 characters
						</mat-error>
						<mat-error
							*ngIf="usernameFormControl.errors?.['maxlength']"
						>
							Username cannot be longer than 20 characters
						</mat-error>
					</mat-form-field>

					<!-- Password input group -->
					<p class="login-label">Password</p>
					<mat-form-field
						appearance="outline"
					>
						<input
							matInput
							placeholder="Password"
							spellcheck="false"
							[type]="isPasswordShown ? 'text' : 'password'"
							[formControl]="passwordFormControl"
						/>
						<button
							mat-icon-button
							matSuffix
							(click)="isPasswordShown = !isPasswordShown"
						>
							<mat-icon>
								{{ isPasswordShown ? 'visibility_off' : 'visibility' }}
							</mat-icon>
						</button>
						<!-- TODO: Add specific mat-error elements for each possible error -->
						<mat-error>Invalid password</mat-error>
					</mat-form-field>

					<!-- Confirm password input group -->
					<p class="login-label">Confirm Password</p>
					<mat-form-field
						appearance="outline"
					>
						<input
							matInput
							placeholder="Password"
							spellcheck="false"
							[type]="isPasswordShown ? 'text' : 'password'"
							[formControl]="confirmPasswordFormControl"
						/>
						<button
							mat-icon-button
							matSuffix
							(click)="isPasswordShown = !isPasswordShown"
						>
							<mat-icon>
								{{ isPasswordShown ? 'visibility_off' : 'visibility' }}
							</mat-icon>
						</button>
						<mat-error
							*ngIf="confirmPasswordFormControl.hasError('required')"
						>
							Confirm password is required
						</mat-error>
						<mat-error
							*ngIf="confirmPasswordFormControl.hasError('misMatch')"
						>
							Passwords do not match
						</mat-error>
					</mat-form-field>
				</div>

				<!-- Stepper Controls -->
				<div class="register-stepper-control-tray">
					<button
						class="register-stepper-control"
						mat-fab
						matStepperPrevious
						color="primary"
						[disabled]="true"
					>
						<mat-icon>arrow_back</mat-icon>
					</button>
					<button
						class="register-stepper-control"
						mat-fab
						matStepperNext
						color="primary"
						[disabled]="accountDetailsFormGroup.invalid"
					>
						<mat-icon>arrow_forward</mat-icon>
					</button>
				</div>
			</mat-step>

			<!-- STEP 2: Avatar-->
			<mat-step
				label="Avatar"
				[completed]="isAvatarSelected"
			>
				<div class="register-step-content-container">
					<h1 class="login-subtitle">pick an avatar</h1>

					<!-- Avatar Grid-->
					<div class="register-avatar-grid">
						<div
							class="register-avatar-container"
							*ngFor="let avatar of avatars"
						>
							<img
								class="{{ avatar === selectedAvatar ? 'register-avatar-clicked' : 'register-avatar' }}"
								[src]="'assets/' + avatar"
								[alt]="avatar"
								(click)="selectAvatar(avatar)"
							>
						</div>
					</div>
				</div>

				<!-- Stepper Controls -->
				<div class="register-stepper-control-tray">
					<button
						class="register-stepper-control"
						mat-fab
						matStepperPrevious
						color="primary"
					>
						<mat-icon>arrow_back</mat-icon>
					</button>
					<button
						class="register-stepper-control"
						mat-fab
						matStepperNext
						color="primary"
						[disabled]="!isAvatarSelected"
					>
						<mat-icon>arrow_forward</mat-icon>
					</button>
				</div>
			</mat-step>

			<!-- STEP 3: Finish -->
			<mat-step label="Finish">
				<div class="register-step-content-container" [style.justify-content]="'center'">
					<img
						class="register-avatar-big"
						[src]="'assets/' + selectedAvatar"
						[alt]="selectedAvatar"
						*ngIf="isAvatarSelected"
					>
					<p class="register-username">
						{{ username }}
					</p>
					<button
						class="register-submit-button"
						mat-raised-button
						color="accent"
						(click)="register()"
					>
						Create Account
					</button>


				</div>

				<!-- Stepper Controls -->
				<div class="register-stepper-control-tray">
					<button
						class="register-stepper-control"
						mat-fab
						matStepperPrevious
						color="primary"
					>
						<mat-icon>arrow_back</mat-icon>
					</button>
					<button
						class="register-stepper-control"
						mat-fab
						matStepperNext
						color="primary"
						[disabled]="true"
					>
						<mat-icon>arrow_forward</mat-icon>
					</button>
				</div>
			</mat-step>

		</mat-stepper>
	</div>
</div>
