.chat-room-message-container {
	display: flex;
	align-items: center;
	height: fit-content;
	width: 100%;
	padding: 0.1rem 0 0.1rem 0;
	box-sizing: border-box;
}
.chat-room-message-user-icon {
	align-self: flex-end;
	height: 2.75rem;
	width: 2.75rem;
	margin-bottom: 0.25rem;
}

.chat-room-message-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40%;
	padding: 1.25rem;
	margin: 0 0.25rem;

	border-radius: 0.5rem;
	background-color: lightblue;
	font-size: 1.1rem;
	font-weight: lighter;
	color: dimgray;
	line-height: 1.4rem;
}
@media only screen and (max-width: 600px) {
	.chat-room-message-details  {
		max-width: 50%;
	}
}

.chat-room-message-sender,
.chat-room-message-content {
	padding: 0;
	margin: 0;
}
