.chat-room-message {
	display: flex;
	height: fit-content;
	width: 100%;
	padding: 0.25rem 0 0.25rem 0;
	box-sizing: border-box;
}
.chat-room-message-user-icon {
	height: 4rem;
	width: 4rem;
}
.chat-room-message-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 75%;
	padding: 1.25rem;
	margin: 0 0.25rem;

	background-color: lightblue;
	font-weight: lighter;
	color: gray;
	border-radius: 0.75rem;
}
.chat-room-message-sender,
.chat-room-message-content {
	padding: 0;
	margin: 0;

	font-size: 1rem;
}
.chat-room-message-sender {
	font-size: 1.1rem;
	font-weight: normal;
}
.chat-room-message-content {
	text-align: justify;
}
