<div
	class="chat-room-message-container"
	[style.flex-direction]="isSender ? 'row-reverse' : 'row'"
	[style.margin-bottom]="message.isLatest ? '0.5rem' : '0'"
>
	<img
		*ngIf="message.isLatest == true"
		class="chat-room-message-user-icon"
		alt="{{ message.authorAvatarUri }}"
		[src]="message.authorAvatarUri"
		[matTooltip]="message.authorName"
	>
	<div
		*ngIf="message.isLatest == false"
		class="chat-room-message-user-icon"
	></div>

	<div
		class="chat-room-message-details"
		[style]="styles"
		[matTooltip]="shortenedTimeStamp"
	>
		<p
			class="chat-room-message-content"
			[style.align-self]="isSender ? 'end' : 'start'"
		>
			{{ message.content }}
		</p>
	</div>
</div>
