<div
	class="chat-room-message"
	[style.flex-direction]="isSender ? 'row-reverse' : 'row'"
>
	<img
		*ngIf="showProfilePic == true"
		class="chat-room-message-user-icon"
		alt="{{ message.authorAvatarUri }}"
		[src]="message.authorAvatarUri"
	>
	<div
		*ngIf="showProfilePic == false"
		class="chat-room-message-user-icon"
	></div>
	<div
		class="chat-room-message-details"
		[style.background-color]="isSender ? 'lightgreen' : 'lightblue'"
	>
		<p
			class="chat-room-message-sender"
			[style.align-self]="isSender ? 'end' : 'start'"
		>
			{{ message.authorName }}
		</p>
		<p
			class="chat-room-message-content"
			[style.align-self]="isSender ? 'end' : 'start'"
		>
			{{ message.content }}
		</p>
	</div>
</div>
