<div
	class="chatroom-button-container"
	[ngClass]="{ 'chatroom-button-selected-container': isSelected }"
	(click)="openChatRoom()"
>
	<div class="chatroom-button-chatroom-details">
		<div class="chatroom-button-title-container">
			<h1 class="chatroom-button-title">
				{{ chatRoom.id }}
			</h1>
			<mat-icon
				class="chatroom-button-more"
				[matMenuTriggerFor]="menu"
				(click)="$event.stopPropagation()"
			>
				more_vert
			</mat-icon>
		</div>
		<mat-divider></mat-divider>
		<p class="chatroom-button-desc">
			{{ chatRoom.description }}
		</p>
	</div>

	<mat-menu
		#menu="matMenu"
		xPosition="before"
		yPosition="below"
	>
		<button
			mat-menu-item
			(click)="leaveChatRoom()"
		>
			<mat-icon>
				logout
			</mat-icon>
			<span class="chatroom-button-menu-item">
				leave chatroom
			</span>
		</button>
	</mat-menu>

	<!-- No messages in chatroom-->
	<div
		class="chatroom-button-message-container"
		*ngIf="chatRoom.latestMessage == null"
	>
		<div class="chatroom-button-message-details">
			<p class="chatroom-button-message-content">
				no messages to show...
			</p>
		</div>
	</div>

	<!-- Chatroom has at least one message -->
	<div
		class="chatroom-button-message-container"
		*ngIf="chatRoom.latestMessage != null"
	>
		<img
			class="chatroom-button-message-user-icon"
			[src]="chatRoom.latestMessage.authorAvatarUri"
			alt="{{ chatRoom.latestMessage.authorAvatarUri }}"
		>
		<div class="chatroom-button-message-details">
			<p class="chatroom-button-message-sender">
				{{ chatRoom.latestMessage.authorName }}
			</p>
			<p class="chatroom-button-message-content">
				{{ chatRoom.latestMessage.content }}
			</p>
		</div>
	</div>
</div>
