<div
	class="chatroom-button-container"
	(click)="selectChatRoom()"
>
	<h1 class="chatroom-button-title">{{ chatRoom.id }}</h1>
	<p class="chatroom-button-desc">{{ chatRoom.description }}</p>
	<div
		*ngIf="latestMessage == null"
	>
		<p class="chatroom-button-desc">No messages to show...</p>
	</div>
	<div
		class="chatroom-button-message-container"
		*ngIf="latestMessage != null"
	>
		<img
			class="chatroom-button-message-user-icon"
			[src]="latestMessage.authorAvatarUri"
			alt="{{ latestMessage.authorAvatarUri }}"
		>
		<div class="chatroom-button-message-details">
			<p class="chatroom-button-message-sender"> {{ latestMessage.authorName }} </p>
			<p class="chatroom-button-message-content"> {{ latestMessage.content }}</p>
		</div>
	</div>
</div>
