.chatroom-button-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 190px;
	width: calc(100%);
	margin-bottom: 10px;
	box-sizing: border-box;

	border-radius: 5px;
	background-color: palegreen;
}

.chatroom-button-chatroom-details {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.chatroom-button-title {
	padding: 0;
	margin: 0 0 10px;

	font-size: 50px;
	font-weight: lighter;
	color: gray;
}
.chatroom-button-desc {
	padding: 0;
	margin: 0 0 0 5px;

	font-size: 20px;
	font-weight: lighter;
	color: gray;
}

.chatroom-button-message-container {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 5px 15px;
	width: calc(100%);

	box-sizing: border-box;
	background-color: lightgrey;
	border-radius: 0 0 5px 5px;
}
.chatroom-button-message-user-icon {
	height: 55px;
	width: 55px;
}
.chatroom-button-message-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
	overflow: hidden;

	font-weight: lighter;
	color: gray;
}
.chatroom-button-message-sender,
.chatroom-button-message-content {
	padding: 0;
	margin: 0;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.chatroom-button-message-sender {
	font-size: 18px;
	font-weight: normal;
}
