<div class="welcome-container">
	<h1 class="welcome-title">
		welcome to chatter,
	</h1>
	<h1 class="welcome-name">
		{{ username }}
	</h1>

	<div class="welcome-hint-container">
		<div class="welcome-hint-list">
			<span class="welcome-hint first">
				to start chatting with other users,
				select a chatroom from the sidenav
			</span>
			<span class="welcome-hint last">
				search for new rooms from the navbar
			</span>
		</div>

		<img
			class="welcome-user-icon"
			src="assets/avatar2.png"
			alt="profile-pic"
		>
	</div>
</div>
